body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navbar{
    margin: 0.0;
    border: 0.0;
    padding: 0.0;
	  overflow: hidden;
    background: lightgray;
    position: fixed;
    left : 0;
    top : 0;
    width: 100%;
    font-family: 'Droid Sans Mono';
    z-index: 1;
    margin-bottom: 0px !important;
    display: block;
}


#navbar ul{
    /*padding: 1.50mm;*/
    padding: 0;
    margin: 0 !important;
    list-style-type: none;
}

#navbar li{
    float: left;
}

#navbar li a
{
    display: block;
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

#navbar li a:hover{
    background-color: purple;
    color: white;
}
